.custom-select {
  position: relative;
  width: 100%;
  height: 2.75rem;
  padding: 0 2.5rem 0 1rem;
  background: url(../img/ico_select.svg) no-repeat right 0.4688rem center #fff;
  background-size: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.625rem;
  letter-spacing: -0.01rem;
  color: #1d1d1d;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
    border-color: #000;
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2.5rem 0 1rem;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }

  option {
    color: #222;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.01rem;

    &:disabled {
      color: #999;
    }
  }
}

.popup-dim {
  display: block;
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 999;
  display: none;
}

.popup {
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  padding: 0;
  background-color: white;
  border-radius: 0.875rem 0.875rem 0 0;
  background: #fff;
  overflow: scroll;

  .popup-head {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1.875rem 1rem;
    z-index: 10;

    .popup-title {
      color: #1d1d1d;
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.0125rem;
      text-transform: uppercase;
    }

    .popup-subtitle {
      margin-top: 0.6875rem;
      color: #555;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.01rem;
    }

    .close-btn {
      width: 1.5rem;
      height: 1.5rem;
      background: url(../img/ico_popup_close.svg) center no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  .popup-body {
    padding: 0 1rem 3.5rem;
    line-height: 150%;
    letter-spacing: -0.01rem;
  }

  .popup-foot {
    padding: 0 1rem 1.875rem;
  }
}

#cart-popup {
  z-index: 2000;
  border-radius: 0;
  max-height: 100%;

  .popup-body {
    overflow-x: hidden;

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 1rem;
      height: 1rem;
      border: 0.0625rem solid #888;
      border-radius: 0;
      background: #fff;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      transition:
        border-color 0.2s,
        background 0.2s;
      margin: 0;
      position: relative;

      &:checked {
        background: #111;
        border-color: #111;
      }

      &:checked::after {
        content: "";
        position: absolute;
        left: 0.25rem;
        top: -0.0625rem;
        width: 0.375rem;
        height: 0.75rem;
        border: solid #fff;
        border-width: 0 0.0625rem 0.0625rem 0;
        transform: rotate(45deg);
        pointer-events: none;
      }
    }

    .select-area {
      position: sticky;
      border-bottom: 0.0625rem solid #d8d8d8;
      top: 0;
      padding: 0 0 1rem;
      background: white;
      z-index: 9;
      width: 100%;
      display: flex;
      align-items: center;

      label {
        margin-left: 0.5rem;
        margin-right: 0.25rem;
        color: #1d1d1d;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.01rem;
      }

      .count-area {
        color: #555;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.01rem;
      }

      .cart-remove-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-80%);
        color: #555;
        font-size: 0.938rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.01rem;
      }
    }

    .prd-list-wrap {
      padding: 1rem 0;
      overflow: hidden;

      ul {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;

        li {
          display: flex;

          > div {
            position: relative;
          }

          .right-area {
            margin-left: 0.5rem;
          }

          .info-area {
            width: 100%;
            flex-grow: 1;
          }

          .thumb-wrap {
            margin-right: 1rem;
            width: 6.25rem;
            height: 6.25rem;
            min-width: 7.5rem;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .right-area {
            width: 100%;

            > div {
              position: relative;
              display: flex;
            }

            .prd-title {
              color: #2d2d2d;
              color: #2d2d2d;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;

              letter-spacing: -0.0088rem;
            }

            .raw-price {
              color: #8e8e8e;
              font-feature-settings: "ss01" on;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;

              letter-spacing: -0.0088rem;
              text-decoration-line: line-through;
            }

            .sale-percent {
              margin-right: 0.25rem;
              color: #d0122b;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;

              letter-spacing: -0.0088rem;
            }

            .sale-price {
              color: #1d1d1d;
              font-feature-settings: "ss01" on;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;

              letter-spacing: -0.0088rem;
            }

            .prd-info {
              position: absolute;
              bottom: 0.2812rem;
              color: #555;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;

              letter-spacing: -0.0075rem;
            }

            .cart-quantity-control {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 5.0625rem;
              height: 1.6875rem;
              display: flex;
              text-align: center;

              button {
                min-width: 1.6875rem;
              }

              .decrease-btn,
              .increase-btn {
                position: relative;
                width: 1.6875rem;
                height: 1.6875rem;

                &:disabled {
                  cursor: not-allowed;
                  opacity: 0.3;
                }
              }

              .decrease-btn {
                &::before {
                  content: "";
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  width: 0.75rem;
                  height: 0.0625rem;
                  background: #1d1d1d;
                  transform: translate(-50%, -50%);
                  border-radius: 0.0625rem;
                }

                &:disabled::before {
                  background: #8e8e8e;
                }
              }

              .increase-btn {
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  background: #1d1d1d;
                  border-radius: 0.0625rem;
                }

                &::before {
                  left: 50%;
                  top: 50%;
                  width: 0.75rem;
                  height: 0.0625rem;
                  transform: translate(-50%, -50%);
                }

                &::after {
                  left: 50%;
                  top: 50%;
                  width: 0.0625rem;
                  height: 0.75rem;
                  transform: translate(-50%, -50%);
                }

                &:disabled::before,
                &:disabled::after {
                  background: #8e8e8e;
                }
              }

              span {
                padding: 0 0.625rem;
                height: 1.6875rem;
                line-height: 1.6875rem;
              }
            }

            .remove-item-btn {
              position: absolute;
              top: 0;
              right: 0;
              color: #8e8e8e;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: -0.0088rem;
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-decoration-skip-ink: none;
              text-decoration-thickness: auto;
              text-underline-offset: auto;
              text-underline-position: from-font;
            }
          }

          .buy-item-btn {
            margin-top: 1rem;
            display: flex;
            width: 100%;
            height: 2.25rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            border: 0.0625rem solid #d8d8d8;
            color: #1d1d1d;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.0088rem;

            &:disabled {
              border: 0.0625rem solid #f0f0f0;
              background: #f0f0f0;
              color: #8e8e8e;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .cart-rec-area {
      .title-area {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart-rec-title {
          margin-top: 1.75rem;
          margin-bottom: 0.5rem;
          color: #1d1d1d;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.01rem;
        }

        .btn-wrap {
          display: flex;
          gap: 1rem;

          button {
            width: 1.125rem;
            height: 1.125rem;
            background: url(../img/arrow_left.svg) center no-repeat;
            background-size: cover;
          }

          .next-btn {
            transform: rotate(180deg);
          }
        }
      }

      .cart-rec-swiper {
        height: fit-content;

        .swiper-slide {
          position: relative;
          background: #f7f7f7;
          height: 7.125rem;
          padding: 1rem;
          display: flex;
          gap: 0.5rem;

          .thumb-img {
            width: 5rem;
            height: 5rem;
          }

          .prd-title {
            margin-bottom: 0.25rem;
            color: #2d2d2d;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.0088rem;
          }

          .sale-price,
          .status-txt {
            color: #1d1d1d;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.0088rem;
          }

          .raw-price {
            margin-left: 0.25rem;
            color: #8e8e8e;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.0075rem;
            text-decoration-line: line-through;
          }

          .cart-rec-add-btn {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: 2.25rem;
            height: 2.25rem;
            background: url(../img/cart_rec_add_btn.svg) center no-repeat;
            background-size: cover;
          }

          .cart-rec-add-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            display: none;

            &.show {
              display: block;
            }

            > div {
              position: absolute;
              left: -0.0625rem;
              bottom: 0;
              right: -0.0625rem;
              padding: 0.5rem;
              display: flex;
              gap: 0.5rem;
              background-color: white;

              .custom-select {
                width: auto;
              }

              .rec-add-cart-btn {
                flex-grow: 1;
                width: 100%;
                height: 2.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                align-self: stretch;
                color: #f8f8f8;
                text-align: center;
                leading-trim: both;
                text-edge: cap;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: -0.0088rem;
                background-color: black;
              }
            }
          }
        }
      }
    }
  }

  .popup-foot {
    padding-top: 2rem;
    position: sticky;
    bottom: 0;
    z-index: 9;
    background-color: white;
    background: #fff;
    box-shadow: 0.25rem 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .cart-result-list {
      display: flex;
      flex-flow: column;
      gap: 0.9375rem;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #1d1d1d;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &.tot-price-info {
          color: #1d1d1d;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }

    .buy-btn {
      margin-top: 1.1875rem;
      display: flex;
      height: 3.5rem;
      padding: 1.375rem 4.375rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      flex: 1 0 0;
      width: 100%;
      background: #000;
      color: #f8f8f8;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.01rem;

      &:disabled {
        background: #f0f0f0;
        color: #8e8e8e;
        cursor: not-allowed;
      }
    }
  }
}
